
* {
    box-sizing: border-box;
  }
   
  html,
  body {
    animation-name: backgroundColorPalette;
    animation-duration: 200s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes backgroundColorPalette {
    0% {
        filter: hue-rotate(0deg);
    }
    25% {
        filter: hue-rotate(50deg);
    }
    50% {
        filter: hue-rotate(100deg);
    }
    75% {
        filter: hue-rotate(150deg);
    }
    100% {
        filter: hue-rotate(180deg);
    }
}


   
  .parallax {
    -webkit-perspective: 100px;
            perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    margin-left: -1500px;
    

    
  }
   
  .parallax__layer {
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .parallax__layer img{
    display: block;
    position: absolute;
    bottom: 0;
  }
   
  .parallax__cover {
    background: #2D112B;
    display: block;
    position: fixed;
    top: 100%;
    left: -50;
    right: 0;
    height: 100%;
    z-index: 2;
    min-width: 100vw;
    max-width: 100vw;
    
  }

  
   
  .parallax__layer__0 {
    -webkit-transform: translateZ(-300px) scale(4);
            transform: translateZ(-300px) scale(4);
  }
   
  .parallax__layer__1 {
    -webkit-transform: translateZ(-250px) scale(3.5);
            transform: translateZ(-250px) scale(3.5);
  }
   
  .parallax__layer__2 {
    -webkit-transform: translateZ(-200px) scale(3);
            transform: translateZ(-200px) scale(3);
  }
   
  .parallax__layer__3 {
    -webkit-transform: translateZ(-150px) scale(2.5);
            transform: translateZ(-150px) scale(2.5);
  }
   
  .parallax__layer__4 {
    -webkit-transform: translateZ(-100px) scale(2);
            transform: translateZ(-100px) scale(2);
  }
   
  .parallax__layer__5 {
    -webkit-transform: translateZ(-50px) scale(1.5);
            transform: translateZ(-50px) scale(1.5);
  }
   
  .parallax__layer__6 {
    -webkit-transform: translateZ(0px) scale(1);
            transform: translateZ(0px) scale(1);
  }

.welcomeText{
    position:relative;
    background: linear-gradient(rgb(222, 76, 28), rgb(255, 255, 255));
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height:80vh;
    
}



.welcome{
    font-family: 'Copperplate';
    margin-top:32vh;
}

.home{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    /* background-color:rgb(254, 255, 246); */
}
.homeCanvas{
    
    width: 100%;
    min-height: 100vh;
    max-width: 100%;  
    max-height: 100%;
    /* position: absolute; */
    animation: blurAnimate 5s linear forwards;
    
}

.first{
    min-height: 100vh;
    /* transform: translateZ(-40px) scale(5.1); */
    transform-style: preserve-3d;
    
}

.homeContainer{
   
    /* margin-top:100vh; */
   
    min-height: 100vh;
    max-height: 100vh;
    /* transform: translateZ(-10px) scale(2.1); */
    /* transform: translateZ(-0px); */
    transform-style: preserve-3d;
}

.Projects{
    min-height: 100vh;
    max-height: 100vh;
    /* transform: translateZ(3px) scaleZ(-7.1); */
    transform-style: preserve-3d;
}




.aboutButton{

    
    background-image: url("./download.jpg");
    display: flex;

    min-height: 20vh;
}

.display-1{
    font-size: 6vmax;
}

video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: -10;

}


@media (max-width: 768px){
    video{
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
    }
}


.homeCanvasContainer{
    background-color: rgba(255,255,255,0.1);
    width: 100%;
    z-index:2;
    position: relative;
    height: 100vh;
    color: white;
}

.homeScroll{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateY(-50%);
    border-radius: 200%;
    left:47%;
    bottom: 0%;
    padding: 0.5vmax;
    animation: scrollPop 0.5s ease-in infinite alternate;
}

.homeScroll > svg{
    font-size: 3vmax;
}

.homeCanvasContainer> h1{
    filter: drop-shadow(0 0 20px rgb(1, 34, 92));
    position: absolute;
    top: 50%;
    right: 0%;
    background-color: rgb(255, 255, 255, 0.8);
    padding: 2vmax;
    transform: translate(0%, -50%);
    text-align: center;
    border-radius: 10px 0 0 10px;
    font: 700 4vmax "Josefin Sans", sans-serif;
    /* animation: nameAnimation 1s ease-in-out forwards ; */

}


.homeCanvasContainer> h1> p{
    transition: all 0.1s;
    color: black;
}

.homeCanvasBox{
    position: absolute;
    top:50%;
    left:4%;
    text-align: left;
    transform: translate(0%, -50%);
    display: flex;
    flex-direction: column
    
}

.font-weight-bold{
    font: 900 4rem "Ubuntu Mono", "Roboto";
    /* letter-spacing: 22px;
    line-height: 80px; */
}

.homeCanvasContainer> h1> p:hover{
    transform: translateY(-10px);
}

.homeSkillsCanvas{
    width: 100vw;
    height: 90vh;
    max-width: 100%;
    max-height: 90%;

}

.temp{
    
    z-index: -3;
}





.homeSkills{
    background-color: rgb(29, 30, 68);
    
    /* height: 100hv;  */
    position: relative;
    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
    
    transform: translateZ(10px) 
}


.homeSkills > h3{
    text-align: center;
    font-size: 4vmax;
    color: white;
}

.homeCubeSkills{
    
    
    width:200px;
    height:200px;
    animation: cubeRotation 15s linear forwards;
    transform-style: preserve-3d;
}
.homeCubeSkillsFaces{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: inherit;
    width: inherit;
    opacity: 0.9;
}


.skillList{
    z-index: 50;
}


.homeSkillsBox {
    
    justify-content: center;
    background-color: rgb(53, 56, 119);
    display: flex;
    flex-direction: row;
    
    /* transform: translatey(-100px); */
    /* animation: homeSkillsBoxOn 0.2s linear forwards; */
    
    
}
.homeSkillsBox > svg {
    
    font-size: 3vmax;
    color: rgb(255, 255, 255);
    transition: all 0.5s;
    margin: 1vmax;
}

.homeSkillsBox > svg:hover{
    transform: scale(1.5);
}



@keyframes cubeRotation{
    to{
        transform: rotateX(1080deg) rotateY(720deg) rotateZ(100deg)
    }
}


@keyframes homeSkillsBoxOn {
    from{
        transform: translatey(10vh);
        
        
    }
    to{
        transform: translatey(0vh);
        
        
    }
}

@keyframes homeSkillsBoxOff {
    from{
        transform: translateX(0vw);
        
    }
    to{
        transform: translateX(-100vw);
        
    }
}



@keyframes scrollPop {
    from{
        transform: translateY(-20%)
    }
  
}

@keyframes blurAnimate {
    from{
        filter: blur(0px);
    }
    to{
        filter: blur(10px);
    }
};
