.projects {
    background-color: rgb(34, 19, 82);
    min-height:100vh;
}

.projects > h3{
    text-align: center;
    color: white;
    padding: 2vmax 8vmax;
    
    align-items: center;
    display: flex;
    left: 50%;
}

.projectWrapper{
    border-top: 100px solid white;
    border-radius: 300px 300px 0 0;
    min-height: inherit;
}












.main{
    background-color:rgb(255, 255, 255);
    margin: 10vh;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 1rem;
    justify-content: center;
    
    
}

.card{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 20px rgba(9, 19, 97, 0.9);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    width: 15vw;
    transition: transform 100ms ease-in;
}

.card:hover{
    transform: scale(1.03);
}
.card_img{
    height: 12rem;
    width: 100%;
    object-fit:cover;
}
.card_title{
    color: rgb(0, 0, 0);
}
.card_description{
    color: rgb(0, 0, 0);
    display: flex;
}

.card_body > img{
    height: 30vh;
    width: 15vw;
    max-width: 30vw;
}

.card_button{
    padding: 0.5rem;
    font-weight: bold;
    font-size:1rem;
    border: 2px solid rgb(17, 29, 74);
    background: transparent;
}

.card_technologies{
    font-weight: bold;
}
