.timeline{
    max-width: 100%;
    min-height: 100vh;
    /* margin-top:40%; */
    /* transform: translateZ(1px); */
    /* background-image: linear-gradient(to bottom, rgb(180, 117, 216),rgb(255, 255, 255)); */
    text-align: center;
    padding: 3vmax;
    /* max-height: 100vh; */
    min-width: 100vw;
    
    background-image: url("./timeline.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


@media (max-width: 1000px){
    .timeline{
        max-width: 100%;
        min-height: 70vh;
        margin-top:40px;
        transform: translateZ(1px);
        
        text-align: center;
        /* padding: 3vmax; */
        min-height: 100vh;
        min-width: 100vw;
    
        background-image: url("./timeline.jpg");
        background-repeat: no-repeat;
        background-size:auto;
    }
}


.itemDiscription{
    
    font-size: 20px;
}

.itemTitle{
    font-weight: bold;
    font-size: 30px;
}

.discription{
    display: flex;
    flex-direction: column;
}

.timelineTitle{
    color:black;
    font-size: 4vmax;
}

.inTimeline{
    
    opacity: 0;
}

@media (max-width: 600px){
    .timelineTitle{
        color:rgb(255, 255, 255);
        font-size: 4vmax;
    }
    .itemDiscription{
        
        font-size: 12px;
    }

    .itemTitle{
        font-weight: bold;
        font-size: 15px;
    }
}


@media (max-width: 370px){
    .itemDiscription{
        
        font-size: 9px;
    }

    .itemTitle{
        font-weight: bold;
        font-size: 10px;
    }
}